@CHARSET "UTF-8";

body { 
	background-color: #87AEC5;
    background-image: url('#{resource['images/BannerTileBackground.gif']}');
    background-repeat: repeat-x;
    font-family: arial;
	font-size: 12px;
	text-align: center; 
	margin: 0; 
	vertical-align: middle; 
}

h1 {
	size: 15 px;
	color: blue;
	font-weight: bold;
	text-shadow: graytext;
}

h2 {
	size: 15 px;
	font-weight: bold;
	text-align: center;
}

h3 {
	size: 12 px;
	font-weight: normal;
}

#columnaCentral { 
	width: 984px; 
	text-align: left; 
	/*margin: 0 auto;*/
	padding-left: 7px; 
	padding-right: 7px; 
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	background-color: white;
	margin: 0 auto;
}

#columnaCentral .ui-widget {
    font-size: 12px;
}

#logo-header {
	text-align: center;
}

#contenidoCentral {
	padding-top: 15px;
}

#menu-superior {
	padding-top: 15px;
	clear: right;
}

#credenciales-header {
	float: right;
}

#footer-central{
	clear:right;
	padding-top: 45px;
	bottom: 0;
    position: relative;
}

#footer-central p{
    font-size: 10px;
    text-align: center;	
}

.botoneraForm {
	float: right;
	padding-top: 7px;
}

.botoneraForm input {
	margin-left: 7px;
}

.formulariosTable th {
	text-align: right;
	font-weight: bold;
}

.panelGeneral .ui-panel-title {
	text-transform: uppercase;	
	font-weight: bold;
	font-size: 15px;
}

.ui-message-error {
	background: none;
	border: none;
}
